<link rel="stylesheet" href="./csss/style.css">




<form action="/check" method="post">
 <input type="submit" class="loginButton" name="addPost" id="addPost" value="Add Your Post" style="width:500px; height:50px">
</form>



{{#each posts}}
<ul class="post"><a href="/{{this.u_id}}/{{this.p_id}}" class="hrefPostName"/>{{this.body}}</a></br>
  By:<a href="/{{this.u_id}}" class="hrefName">{{this.name}}</a>

</ul>



{{/each}}
